@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Space Grotesk", sans-serif;
}

.titulo {
  font-size: 64px;
}

#logo {
  font: normal 32px "Space Grotesc", sans-serif;
  cursor: pointer;
  margin-top: 8px;
}

.icon {
  color: #9c9c9d;
}

.icon:hover {
  color: orangered;
}

.iconText {
  display: inline;
  padding-left: 10px;
  color: #535353;
  font-weight: 400;
}

.iconText:hover {
  font-weight: bold;
}

.box {
  background-color: #f9f9f9;
  max-width: 964px;
  height: 933px;
}
.line {
  border: 1px solid #f9f9f9;
  width: 220px;
  margin-bottom: 15px;
}

.radius {
  border-radius: 25px;
}

.searchButton:hover {
  background-color: #7373b5;
  width: 166px;
}

.searchButton {
  background-color: white;
  border: none;
}

.carousel .carousel-indicators button {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: #c4c4c4;
}

.carousel .carousel-indicators .active {
  background-color: orangered;
}

.text {
  font-size: 16px;
}

.form .mentorMeet {
  background-color: #b3b3b3;
  width: 50%;
  color: white;
}

.meetSelected {
  border-color: #b3b3b3;
}

.colorChangeInput {
  border-color: #7373b5;
  border-style: solid;
  border-width: 2px;
}

.colorChangeButton {
  background-color: #7373b5;
  width: 50%;
  color: white;
}

.editProfileButton {
  height: 43px;
  width: 185px;
}

.addButton {
  height: 43px;
  width: 164px;
}

.profileText {
  color: #212529;
  font-size: 1rem;
}

.tagsLearn {
  width: auto;
  height: 43px;
  border: 2px solid;
  border-radius: 30px 0px 30px 30px;
  border-color: #7373b5;
  color: #7373b5;
  text-align: center;
  padding-top: 5px;
  list-style: none;
  cursor: pointer;
  margin: 0px 10px 10px 10px;
}

.tagsTeach {
  width: auto;
  height: 43px;
  border: 2px solid;
  border-radius: 30px 0px 30px 30px;
  border-color: orangered;
  color: orangered;
  text-align: center;
  padding: 5px;
  margin: 0px 10px 10px 10px;
  cursor: pointer;
  list-style: none;
}

#responsiveMenu {
  display: none;
}

/* Responsividade */

@media screen and (max-width: 1200px) {
  .iconText {
    display: none;
  }

  .line {
    display: none;
  }

  .carousel .carousel-indicators button {
    display: none;
  }
}

@media screen and (max-width: 769px) {
  #verticalMenu {
    display: none;
  }

  #responsiveMenu {
    display: block;
  }
}

/* para aplicar o dot do chat
<span class="iconify" data-icon="bi:dot" style="color: orangered;" data-width="11"></span>*/
